@font-face {
	src: url(fonts/Eczar-Regular.ttf);
	font-weight: normal;
	font-family: Eczar;
}

@font-face {
	src: url(fonts/Eczar-Medium.ttf);
	font-weight: 500;
	font-family: Eczar;
}

@font-face {
	src: url(fonts/Eczar-Bold.ttf);
	font-weight: bold;
	font-family: Eczar;
}

@font-face {
	src: url(fonts/CrimsonPro-Regular.ttf);
	font-weight: normal;
	font-family: CrimsonPro;
}

@font-face {
	src: url(fonts/CrimsonPro-Medium.ttf);
	font-weight: 500;
	font-family: CrimsonPro;
}

@font-face {
	src: url(fonts/CrimsonPro-Bold.ttf);
	font-weight: bold;
	font-family: CrimsonPro;
}

:root {
	--red: rgb(255, 60, 80);
	--blue: rgb(60, 120, 180);
	--black: rgb(32, 32, 32);
	--white: rgb(255, 255, 255);
}

a {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color: var(--red);
	text-decoration: none;
}

p {
	margin: 0;
	hyphens: auto;
	text-align: justify;
}

h1 {
	font-size: 56pt;
	line-height: 1.2;
	font-family: Eczar;
	font-weight: bold;
	margin-bottom: 0;
}

h2 {
	font-size: 32pt;
	margin-top: 0.5em;
	font-weight: 500;
	font-family: Eczar;
	margin-bottom: 0;
}

h2 a {
	text-decoration: none;
}

ul.postlist {
	padding: 0;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 1em;
}

ul.postlist > li {
	padding-left: 1em;
}

ul.postlist > li::before {
	width: 1em;
	height: 1em;
	display: inline-flex;
	margin-left: -1em;
	align-items: center;
	justify-content: start;
}

div.svg-container {
	display: flex;
	margin-top: 0.5em;
	padding-bottom: 0.5em;
	justify-content: center;
}

body {
	color: var(--white);
	margin: 1em auto;
	padding: 0 0.5em;
	max-width: 36em;
	font-size: 16pt;
	line-height: 1.2;
	background: var(--black);
	font-family: CrimsonPro;
}

body > header {
	font-family: Eczar;
	margin-bottom: 1em;
}

body > header > h1 {
	margin: 0;
	padding: 0 0 0.1em 0;
	line-height: 1;
	border-bottom: 5px dashed var(--blue);
}

article {
	display: block;
}

article > p {
	font-size: 16pt;
	font-family: CrimsonPro;
}
