html {
	height: 100%;
}

body {
	border: 0px;
	margin: 0px;
	padding: 0.5vmax;
	overflow: auto;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 0px 0px rgb(8, 8, 8);
	min-height: 100%;
	background-color: rgb(8, 8, 8);
}

div.header-container {
	width: inherit;
	height: 8vmax;
	margin: 0.5vmax;
	padding: 1vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	border-radius: 1vmax;
	vertical-align: middle;
	justify-content: left;
	background-image: linear-gradient(to right, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0));
}

div.header-title {
	color: rgb(235, 235, 235);
	width: inherit;
	height: inherit;
	display: flex;
	font-size: 3vmax;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	font-weight: normal;
	font-family: system-ui;
	background-color: transparent;
}

div.inner-container {
	width: inherit;
	height: inherit;
	margin: 0.5vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

div.gradient-container {
	width: inherit;
	height: auto;
	margin: 0.5vmax;
	padding: 0.25vmax;
	box-sizing: border-box;
	border-radius: 1vmax;
	background-image: linear-gradient(to right, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0));
}

div.topic-container {
	width: inherit;
	height: 10vmax;
	margin: 1vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	border-radius: 0.5vmax;
	vertical-align: middle;
	justify-content: left;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}