@font-face {
	src: url(Eczar-Regular.ttf);
	font-weight: normal;
	font-family: Eczar;
}

@font-face {
	src: url(Eczar-Medium.ttf);
	font-weight: 500;
	font-family: Eczar;
}

@font-face {
	src: url(Eczar-Bold.ttf);
	font-weight: bold;
	font-family: Eczar;
}

:root {
	--red: rgb(255, 60, 80);
	--blue: rgb(60, 120, 180);
	--black: rgb(32, 32, 32);
	--white: rgb(255, 255, 255);
}

a {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color: var(--red);
	text-decoration: none;
}

h1 {
	font-size: 48pt;
	font-weight: 400;
	line-height: 1.2;
	font-family: Eczar;
	font-weight: 500;
	margin-bottom: 0;
}

body {
	color: var(--white);
	margin: 1em auto;
	padding: 0 0.5em;
	max-width: 36em;
	font-size: 16pt;
	line-height: 1.2;
	background: var(--black);
	font-family: system-ui;
}

body > header {
	font-family: system-ui;
	margin-bottom: 1em;
}

body > header > h1 {
	margin: 0;
	padding: 0 0 0.1em 0;
	line-height: 1;
	border-bottom: 5px dashed var(--white);
}
