html {
	height: 100%;
}

body {
	border: 1vmax solid rgb(8, 8, 8);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 0px 0px rgb(8, 8, 8);
	min-height: 100%;
	background-color: rgb(8, 8, 8);
}

div.header-container {
	width: 100%;
	height: 8vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	border-radius: 1vmax;
	vertical-align: middle;
	justify-content: center;
	background-image: linear-gradient(to right, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0));
}

div.header-title {
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 3vmax;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	font-weight: bold;
	font-family: monospace;
	background-color: transparent;
}

div.inner-container {
	width: 100%;
	height: 100%;
	padding: 2.5%;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}