html {
	height: 100%;
}

body {
	border: 0px;
	margin: 0px;
	padding: 0.5vmax;
	overflow: auto;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 0px 0px rgb(8, 8, 8);
	min-height: 100%;
	background-color: rgb(10, 10, 10);
}

div.header-container {
	width: inherit;
	height: 8vmax;
	margin: 0.5vmax;
	padding: 1vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	border-radius: 1vmax;
	vertical-align: middle;
	justify-content: left;
	background-image: linear-gradient(to right, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0));
}

div.header-title {
	color: rgb(210, 210, 210);
	width: inherit;
	height: inherit;
	display: flex;
	font-size: 3vmax;
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	font-weight: bolder;
	font-family: system-ui;
	background-color: transparent;
}

div.header-center-title {
	color: rgb(210, 210, 210);
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 3vmax;
	text-align: center;
	align-items: center;
	font-weight: bolder;
	font-family: system-ui;
	flex-direction: row;
	justify-content: center;
	background-color: transparent;
}

div.inner-container {
	width: inherit;
	height: inherit;
	margin: 0.5vmax;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

div.gradient-container {
	width: inherit;
	height: auto;
	margin: 0.5vmax;
	display: flex;
	padding: 1vmax;
	row-gap: 0.5vmax;
	box-sizing: border-box;
	border-radius: 1vmax;
	flex-direction: column;
	background-image: linear-gradient(to right, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0));
}

div.topic-container {
	float: left;
	width: 100%;
	height: auto;
	cursor: pointer;
	display: flex;
	z-index: 1;
	box-sizing: border-box;
	transition: background 0.25s linear;
	align-items: center;
	border-radius: 0.5vmax;
	vertical-align: middle;
	flex-direction: column;
	justify-content: center;
	background-size: 200% 100%;
	background-image: linear-gradient(
		to right,
		rgba(210, 210, 210, 0.1),
		rgba(210, 210, 210, 0.1),
		rgba(210, 210, 210, 0)
	);
	background-position: 100%;
}

div.topic-container:hover {
	background-position: 0%;
}

div.topic-title {
	color: rgb(210, 210, 210);
	width: 100%;
	height: auto;
	padding: 1vmax 1vmax 0.25vmax 1vmax;
	display: flex;
	font-size: 1.75vmax;
	box-sizing: border-box;
	text-align: left;
	font-weight: bold;
	align-items: center;
	font-family: system-ui;
	vertical-align: middle;
	justify-content: left;
}

div.topic-date {
	color: rgb(210, 210, 210);
	width: 100%;
	height: auto;
	padding: 0.1vmax 1vmax 0.1vmax 1vmax;
	display: flex;
	font-size: 1vmax;
	box-sizing: border-box;
	text-align: left;
	font-weight: lighter;
	align-items: center;
	font-family: system-ui;
	vertical-align: middle;
	justify-content: left;
	text-decoration-line: underline;
}

div.topic-description {
	color: rgb(210, 210, 210);
	width: 100%;
	height: auto;
	padding: 0.1vmax 1vmax 1vmax 1vmax;
	display: flex;
	font-size: 1.2vmax;
	box-sizing: border-box;
	text-align: left;
	font-weight: normal;
	align-items: center;
	font-family: system-ui;
	vertical-align: middle;
	justify-content: left;
}
